html
   head
      title Profile Page
   body
      h3 Profile

      div
      | Welcome,
      | #{username}
      br
      |
      br
      if(type == "manager")
        | Do you want to add new user? #{' '}
        a(class='button', href='/addUser') Add User
        br
        |
        br
        | Do you want to add a new Project?
        br
        form(action = "/addProjects" method = "POST")
          | Project Details:
          br
          input(name = "title" type = "text" required placeholder= "Project title")
          | #{' '}
          input(name = "description" type = "text" required placeholder= "Description")
          | #{' '}
          input(name = "beginningDate" type = "text" required placeholder= "Beginning Date")
          | #{' '}
          input(name = "dueDate" type = "text" required placeholder= "Due Date")
          | #{' '}
          input(name = "developer" type = "text" required placeholder= "Developer")
          br
          | Add Project: #{' '}
          button(type = "Submit") Add
          br
        | Want to add developer to a project?
        br
        form(action = '/addProjectdeveloper' method = 'POST')
          | Project Name: 
          input(name = "title" type = "text" required placeholder= "Project Title")
          | #{' '}
          input(name = "developer" type = "text" required placeholder= "Developer")
          | #{' '}
          button(type = "Submit") Add
          br
        | Want to edit discription of a project?
        br
        form(action = '/editProjectDescription' method = 'POST')
          | Project Name: 
          input(name = "title" type = "text" required placeholder= "Project Title")
          | #{' '}
          input(name = "description" type = "text" required placeholder= "New Description")
          | #{' '}
          button(type = "Submit") Edit
          br
        | Want to change the beginning date of a project?
        br
        form(action = '/editProjectBeginningDate' method = 'POST')
          | Project Name: 
          input(name = "title" type = "text" required placeholder= "Project Title")
          | #{' '}
          input(name = "beginningDate" type = "text" required placeholder= "New Beginning Date")
          | #{' '}
          button(type = "Submit") Change
          br
        | Want to change the due date of a project?
        br
        form(action = '/editProjectDueDate' method = 'POST')
          | Project Name: 
          input(name = "title" type = "text" required placeholder= "Project Title")
          | #{' '}
          input(name = "dueDate" type = "text" required placeholder= "New Due Date")
          | #{' '}
          button(type = "Submit") Change
          br
        //- | Want to remove a project?
        //- br
        //- form(action = '/removeProject' method = 'POST')
        //-   | Project Name: 
        //-   input(name = "title" type = "text" required placeholder= "Project Title")
        //-   | #{' '}
        //-   button(type = "Submit") Remove
        //-   br
      | Projects assigned to you:
      br
      table
        tr
          if(result[0])
            td Project Title
            td Description
            td Beginning date
            td Due date
        each val in result
          tr
            td #{val.title} 
            td #{val.description} 
            td #{val.beginningDate.toLocaleDateString()} 
            td #{val.dueDate.toLocaleDateString()} 
        else
          | There are no projects assigned to you yet
      br
      | Do you want to logout?
      form(action = "/logout", method = "GET")
         button(type = "Submit") Logout
