html
   head
      title Profile Page
   body
      h3 Profile

      div
      | Welcome,
      | #{username}
      br
      if(type == "manager")
        | Do you want to add new user? #{' '}
        a(class='button', href='/addUser') Add User
        br
        |
        br
        | Do you want to add a new Project?
        br
        form(action = "/addProjects" method = "POST")
          | Project Details: 
          br
          input(name = "title" type = "text" required placeholder= "Project title")
          | #{' '}
          input(name = "description" type = "text" required placeholder= "Description")
          | #{' '}
          input(name = "beginningDate" type = "text" required placeholder= "Beginning Date")
          | #{' '}
          input(name = "dueDate" type = "text" required placeholder= "Due Date")
          | #{' '}
          input(name = "developer" type = "text" required placeholder= "Developer")
          br
          | Add Project: #{' '}
          button(type = "Submit") Add
      br
      |
      br
      | Check projects assigned to you: #{' '}
      a(class='button', href='/getAssignedProjects') know Projects
      
      br
      | Do you want to logout?
      form(action = "/logout", method = "GET")
         button(type = "Submit") Logout
