html
head
	title Signup
	body
		if(message)
			h4 #{message}
			form(action = "/signup" method = "POST")
				| Username:
				| #{' '}
				input(name = "username" type = "text" required placeholder= "Username")
				br
				| Email Id:
				| #{' '}
				input(name = "email" type = "text" required placeholder= "Email Id")
				br
				| Password:
				| #{' '}
				input(name = "password" type = "password" required placeolder = "Password")
				br
				button(type = "Submit") Sign up
				br
				| Already a user?
				| #{' '}
				a(class='button', href='/login') Login
