html
head
	title Add User
	script(type = 'text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js')
	script(type = 'text/javascript' language = 'javascript' src="javascripts/addUserFormValidation.js")
	body
		if(type == "validationError")
			ul
			- for (var i = 0; i < err.length; i++) {
				li #{err[i].msg}
			- }
		h4 #{message}
		form(id = "addUserForm" method = "POST" action = "/addUser")
			| Username:
			| #{' '}
			input(name = "username" type = "text" id = "form_username" required placeholder= "Username")
			span(id = "username_error_message")
			br
			| Email Id:
			| #{' '}
			input(name = "email" type = "text" id = "form_email" required placeholder= "Email Id")
			span(id = "email_error_message")
			br
			| Password:
			| #{' '}
			input(name = "password" type = "password" id = "form_password"  required placeholder= "Password")
			span(id = "password_error_message")
			br
			| Role: #{' '}
			input(name = "role" type = "text" id = "form_role" required placeholder= "manager or employee")
			span(id = "role_error_message")
			//- input(type="radio" name="role" value="manager" checked) Manager
			//- br
			//- input(type="radio" name="role" value="employee") Employee
			br
			| Add User:
			| #{' '}
			button(type = "Submit") Add
			br
			|
			br
			| Check your profile:
			| #{' '}
			a(class='button', href='/login') Profile
			
