html
   head
      title Profile Page
      script(type = 'text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js')
      script(type = 'text/javascript' language = 'javascript' src="javascripts/addProjectFormValidation.js")
   body
      h3 Profile

      div
      | Welcome,
      | #{username}
      br
      |
      br
      if(type == "manager")
        | Do you want to add new user? #{' '}
        a(class='button', href='/addUser') Add User
        br
        |
        br
        if(check == "addProjectValidationError")
          ul
          - for (var i = 0; i < err.length; i++) {
          li #{err[i].msg}
          - }
        | Do you want to add a new Project?
        br
        form(id = "addProjectForm" method = "POST" action = "/addProjects")
          | Project Details:
          br
          input(name = "title" type = "text" id = "form_title" required placeholder= "Project title")
          | #{' '}
          input(name = "description" type = "text" id = "form_description" required placeholder= "Description")
          | #{' '}
          input(name = "beginningDate" type = "date" id = "form_beginning" required placeholder= "Beginning Date")
          | #{' '}
          input(name = "dueDate" type = "date" id = "form_due" required placeholder= "Due Date")
          | #{' '}
          input(name = "developer" type = "text" id = "form_dev" required placeholder= "Developer")
          br
          | Add Project: #{' '}
          button(type = "Submit") Add
          br
          span(id = "title_error_message")
          br
          span(id = "description_error_message")
          br
          span(id = "beginning_error_message")
          br
          span(id = "due_error_message")
          br
          span(id = "dev_error_message")
          br
        if(type == "addDeveloperValidationError")
          ul
          - for (var i = 0; i < err.length; i++) {
          li #{err[i].msg}
          - }
        | Want to add developer to a project?
        br
        form(action = '/addProjectdeveloper' method = 'POST')
          | Project Name: 
          input(name = "title" type = "text" required placeholder= "Project Title")
          | #{' '}
          input(name = "developer" type = "text" required placeholder= "Developer")
          | #{' '}
          button(type = "Submit") Add
          br
        if(type == "editDescriptionValidationError")
          ul
          - for (var i = 0; i < err.length; i++) {
          li #{err[i].msg}
          - }
        | Want to edit discription of a project?
        br
        form(action = '/editProjectDescription' method = 'POST')
          | Project Name: 
          input(name = "title" type = "text" required placeholder= "Project Title")
          | #{' '}
          input(name = "description" type = "text" required placeholder= "New Description")
          | #{' '}
          button(type = "Submit") Edit
          br
        if(type == "editBeginningValidationError")
          ul
          - for (var i = 0; i < err.length; i++) {
          li #{err[i].msg}
          - }
        | Want to change the beginning date of a project?
        br
        form(action = '/editProjectBeginningDate' method = 'POST')
          | Project Name: 
          input(name = "title" type = "text" required placeholder= "Project Title")
          | #{' '}
          input(name = "beginningDate" type = "date" required placeholder= "New Beginning Date")
          | #{' '}
          button(type = "Submit") Change
          br
        if(type == "editDueValidationError")
          ul
          - for (var i = 0; i < err.length; i++) {
          li #{err[i].msg}
          - }
        | Want to change the due date of a project?
        br
        form(action = '/editProjectDueDate' method = 'POST')
          | Project Name: 
          input(name = "title" type = "text" required placeholder= "Project Title")
          | #{' '}
          input(name = "dueDate" type = "date" required placeholder= "New Due Date")
          | #{' '}
          button(type = "Submit") Change
          br
        if(type == "removeProjectValidationError")
          ul
          - for (var i = 0; i < err.length; i++) {
          li #{err[i].msg}
          - }
        | Want to remove a project?
        br
        form(action = '/removeProject' method = 'POST')
          | Project Name: 
          input(name = "title" type = "text" required placeholder= "Project Title")
          | #{' '}
          button(type = "Submit") Remove
          br
      | Projects assigned to you:
      br
      table
        tr
          if(result[0])
            th Project Title
            th Description
            th Beginning date
            th Due date
        each val in result
          tr
            td #{val.title} 
            td #{val.description} 
            td #{val.beginningDate.toLocaleDateString()} 
            td #{val.dueDate.toLocaleDateString()} 
        else
          | There are no projects assigned to you yet
      br
      | Do you want to logout?
      form(action = "/logout", method = "GET")
         button(type = "Submit") Logout
